.navigation {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
  
  .navigation button {
    font-family: 'Aleo-Regular', sans-serif;
    font-size: large;
    padding: 15px;
    margin: 0 5px;
    background-color: #6c4400;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    width: 160px; /* Set a fixed width for all buttons */
    height: 50px; /* Set a fixed height for all buttons */
    text-align: center;
    line-height: 20px;
  }
  
  .navigation button:hover {
    background-color: #875601;
  }
  
  .navigation button.selected {
    font-weight: bold;
    opacity: 0.7;
  }
  