@font-face {
  font-family: 'DinoPlay';
  src: url('../public/fonts/DinoPlay.ttf') format('truetype');
}

@font-face {
  font-family: 'Aleo-Regular';
  src: url('../public/fonts/Aleo-Regular.otf') format('truetype');
}

body {
  background-image: url('../public/wallpaper.jpeg'); /* Path to your image */
  background-size: cover; /* This ensures that the image covers the entire background */
  background-position: center; /* This centers the image */
}

.app {
  text-align: center;
  font-family: 'Aleo-Regular', sans-serif;
  padding: 5px;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* Style for each button */
.button-container button {
  flex-grow: 1;
  padding: 15px 0;
  margin: 0 10px; /* Slight space between buttons */
  background-color: #6b826c;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-container button:hover {
  background-color: #5e8960; /* Darker green on hover */
}

.button-container button.selected {
  background-color: #565223; /* A different shade for the selected button */
  color: #ffffff45;
  font-weight: bold;
}

.button-container button:first-child {
  margin-left: 0;
}

.button-container button:last-child {
  margin-right: 0;
}


.title, .introduction, .navigation, .era-display, .thank-you {
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}

.title {
  color: #ffffff;
  font-family: 'DinoPlay', sans-serif;
  font-size: 75px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.introduction {
  background-color: hsl(142, 18%, 33%);
  color: #fffafa;
  text-align: center;
  margin-bottom: 20px; /* Add space at the bottom */
  line-height: 1.5; /* Increase line spacing for readability */
  
  border: 2px solid #ffffff; /* Orange border with 2px width */
}

.navigation button {
  font-family: 'Aleo-Regular', sans-serif;
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.dinosaur-card{
  margin: 10px;
  padding: 10px 20px;
  background-color: #8b61ff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.dinosaur-details{
  margin: 10px;
  padding: 10px 20px;
  background-color: #7fbcac;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.era-display {
  background-color: #ff6f61;
  color: #fff;
  font-family: 'DinoPlay';
  font-size: xx-large;
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.thank-you {
  background-color: #87a8d0;
  color: #fff;
}
